
* {
    font-family: "roboto", sans-serif;
}

.hero {
    color: #f9faf8;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1% 5%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    color: #f9faf8;
    font-size: 18px;
    font-weight: normal;
}

.heromain-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5%;
    flex-wrap: wrap;
    flex-direction: column;
}

.heromain-right {
    display: inline-block;
    justify-content: center;
    align-self: flex-end;
}

figure {
    
        float: right;
        width: 30%;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        margin: 0.5em;
        padding: 0.5em;
}
img.scaled {
  width: 100%;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}

.image {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.button {
        color: #f9faf8; background: #3882f6; font-size: 18px; line-height: 10px; 
        padding: 10px 40px; border-radius: 15px; font-family: Roboto, serif; font-weight: bold; 
        text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; 
        display: inline-block;}
    .button:hover {
        background: #2D69C6; }
    .button:active {
        background: #3882f6; }

.info {
    display: flex;
    color: #1f2937;
    font-weight: bold;
    background-color: #f9faf8;
    justify-content: center;
}

.fashion-one, .fashion-two, .fashion-three, .fashion-four {
    display: flex;
    width: 5%;
    height: 5%;
}

.quote-section {
    background-color: #e5e7eb;
    
}

.join {
    background-color: #3882f6;
    color: #f9faf8;
}
.footer {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px;
}

a:link {
color: #66B6F6;
}
a:visited {
color: #A5C3D8;
}
a:hover {
color: #c0dcf5;
}
a:active {
color: #BFE2FA;
} 