
.hero {
    color: #f9faf8;
    background-color: #1f2937;

}

.info {
    color: #1f2937;
    font-weight: bold;
    background-color: #f9faf8;
}

.quote-section {
    background-color: #e5e7eb;
    
}
